* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


body {
    background-color: red;
    padding: 0;
    margin: 0; 
}

/* ===== HEADER ===== */
.header-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.h1-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.hero-title-part1 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title-part2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* ===== INPUT ===== */

.user-choose-general {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input::placeholder {
    color: white;
}


.input-general {
    cursor: pointer;
    display: flex;
    justify-content: center;

}

#zip-code-input {
    background-color: #353535;
    border-radius: 10px;
    padding: 4px 10px;
    color: white;
}


/* ===== SELECT ===== */

.select-general {
    display: flex;
    margin-bottom: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}

#city-name-select {
    background-color: #353535;
    padding: 4px 10px;
    color: white;
}


/* ===== TEMPLATE ===== */

#weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-list {
    list-style: none;
}

#option-list {
    list-style: none;
    color: white;
    gap: 8px;
    border-radius: 12px;
    background: var(--base-gray-800, #16161F);
}

.test {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    padding: 4px 16px;
}


.card-container { 
    height: 250px;
    width: 400px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid white;
    /* background: linear-gradient(45deg, #353535, #000000); */
}

.top-section-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-container {
    text-align: center;
    margin: 10px 0;
}

.bottom-section-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section img {
    max-width: 50px; /* Ajustez la taille de l'image selon vos besoins */
}


/* ===== MODAL ==== */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-modal-btn {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.modal-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-btn i {
    color: #333;
    font-size: 24px;
}

.modal-btn:focus {
    outline: none;
}

.modal-content {
    display: flex;
}

#weather-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    margin-right: 5px;
}

/* ===== FOOTER ==== */

.footer-general {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ===== LOADER ===== */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.loader {
    font-size: 48px;
    color: #3498db;
    animation: bounce 2s infinite;
}

.content {
    display: none;
}

.loaded .content {
    display: block;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/*===== RANDOM =====*/

.hidden {
    display: none;
}