* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


body {
    background-color: #0F2836;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

/* ===== HEADER ===== */
.header-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.h1-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.hero-title-part1 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title-part2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* ===== INPUT ===== */

.user-choose-general {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input::placeholder {
    color: white;
}


.input-general {
    cursor: pointer;
    display: flex;
    justify-content: center;

}

#zip-code-input {
    background-color: #353535;
    border-radius: 10px;
    padding: 4px 10px;
    color: white;
}


/* ===== SELECT ===== */

.select-general {
    display: flex;
    margin-bottom: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}

#city-name-select {
    background-color: #353535;
    padding: 4px 10px;
    color: white;
}


/* ===== TEMPLATE ===== */

#weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-list {
    list-style: none;
}

.card-container {
    height: 250px;
    width: 300px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid white;
    /* background: linear-gradient(45deg, #353535, #000000); */
}

.top-section-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date-container {
    text-align: left;
    margin: 10px 0;
}

.middle-section-card {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-section-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img {
    /* width: 30%; */
    margin-top: 40px;
    height: 30%;
}

.temperatureActuelle {
    font-size: 65px;
    margin-bottom: -20px;
}

/* ===== OPTION ===== */

#option-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    list-style: none;
    width: 80%;
    padding: 10px;
    color: white;
    gap: 8px;
    border-radius: 12px;
    background: var(--base-gray-800, #16161F);
}

.border-bottom-selection {
    display: flex;
    border-bottom: 1px solid white;
    align-items: center;
}

.border-bottom-selection-v2 {
    display: flex;
    border-bottom: none;
    align-items: center;
}


#option-list li span {
    float: left;
    width: 200px;
    text-align: left;
}

#option-list li p {
    float: right;
    text-align: right;
}

#option-list li::after {
    content: "";
    display: table;
    clear: both;
}

.img-option {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}


/* ===== MODAL ==== */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-modal-btn {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.modal-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.center-button {
    display: flex;
    margin: 0 auto;
}

.modal-btn i {
    color: #333;
    font-size: 24px;
}

.modal-btn:focus {
    outline: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.close-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button-container-reset {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.close-reset {
    background-color: transparent;
    color: black;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#weather-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    margin-right: 5px;
}

/* ===== FOOTER ==== */

.footer-general {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ===== LOADER ===== */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.loader {
    font-size: 48px;
    color: #3498db;
    animation: bounce 2s infinite;
}

.content {
    display: none;
}

.loaded .content {
    display: block;
}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* ===== LOWER TEMPLATE ===== */

#lower-weather-container {
    margin-top: 20px;
    margin-bottom: 500px;
    text-align: center;
}

.flex-container {
    list-style: none;
}

.lower-weathercard-div {
    width: 10%;
    height: auto;
    display: inline-block;
    background: blue;
}


/*===== RANDOM =====*/

.hidden {
    display: none;
}


/* ===== MEDIA QUERIES ===== */


@media screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }
}